[Unit]
Description=Cockroach db auto starter

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/cockroach start --ca-cert=/etc/cockroachdb/certs/ca.cert --cert=/etc/cockroachdb/certs/node.cert --key=/etc/cockroachdb/certs/node.key --store=/var/data/cockroachdb/ --port=26257 --http-port=7005 --logtostderr=true --cache=0.35GB --max-sql-memory=0.35GB
ExecStop=/usr/local/bin/cockroach quit --ca-cert=/etc/cockroachdb/certs/ca.cert --cert=/etc/cockroachdb/certs/root.cert --key=/etc/cockroachdb/certs/root.key
SyslogIdentifier=cockroachdb
Restart=always
