[Unit]
Description=Cockroach db auto starter

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/cockroach start --certs-dir=/etc/cockroachdb/certs --store=/var/data/cockroachdb/ --port=26257 --http-port=7005 --logtostderr=ERROR
ExecStop=/usr/local/bin/cockroach quit --certs-dir=/etc/cockroachdb/certs
SyslogIdentifier=cockroachdb
Restart=always
LimitNOFILE=35000
